body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #2b2a2a;
  color:white;
  font-family: 'Garamond';
  font-size: 24px;
  height: 180px;
  width: 100%;
}

.header p {
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0px;
}

.header img {
  margin-left: 10px;
  margin-top: 10px;
  width: 10%;
}

.footer {
  background-color: #2b2a2a;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  height: 50px;
  margin-top: 300px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}

.footer a {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  padding-left: 5px;
  padding-right: 5px;
}

.feature-paragraph {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 20px;
  text-align: center;
}

.body .feature-heading {
  color: #2b2a2a;
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
}

.body-wrapper {
  text-align: center;
  width: 100%;
}

.img-circle {
  border-radius: 50%;
  display: block;
  float: left;
  height: auto;
  margin-left: 10px;
  max-width: 100%;
}

.search {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}

.search .user-input {
  margin-left: 5px;
}

.search button {
  background-color: white;
  border-radius: 5px;
  border-width: thin;
  color: black;
  margin-left: 3px;
}

.error-img {
  margin-left: 65vh;
  margin-top: 20px;
}
